
/*变量*/
$fl:left;
$fr:right;
$fzlist:18px;
$fztitle:24px;
$fzinfo:16px;
$fz-info-with-img-title:18px;
$fz-info-with-img-info:14px;

/*宽度*/
$web-width:1400px;
$nav-width:1002px;
$content-width:1002px;
$section1-left-width:526px;
$section1-right-width:447px;
$section2-left-width:505px;
$section2-right-width:447px;
$section3-left-width:505px;
$section3-right-width:447px;
$flex-button-gruop-width:442px;
$video-player-width:500px;
$info-with-img-width:500px;
$info-with-img-imageWidth:205px;

/*高度*/
$header-height:100%;
$banner-height:480px;
$nav-height:46px;
$nav-button-width:$nav-width/7;
$content1-height:440px;
$content2-height:530px;
$content3-height:530px;
$content4-height:350px;
$title1-height:88px;
$title2-height:68px;
$title3-height:68px;
$title4-height:71px;
$flex-button-gruop-height:100px;
$flx-btn-height:45px;
$video-player-height:285px;
$info-with-img-imageHeight:122px;
$info-with-img-height:135px;
$page-header-height:400px;
$page-header-banner-height:353px;

/*padding*/
$pb30:30px;
$pl20:20px;
$title-left-padding:10px;

/*margin*/
$center:0 auto;
$mt30:30px;
$mt10:10px;
$mt20:20px;
$mb10:10px;
$mb20:20px;
$mb30:30px;



/*颜色*/
$nav-color:#555555;
$nav-text-color:white;
$list-color:#414141;
$orange-light:#ffb000;
$orange:#ff8a00;
$info-color:#999999;
$title-color:#333333;
$info-with-img-bgColor:#f9f5ed;
$info-with-img-text-color:#9f9f9f;



/*背景图片*/
$img-banner:url(../dist/img/indexheader.png);
$title1-bgimg:url(../dist/img/gongbao.png);
$title2-bgimg:url(../dist/img/xxgc.png);
$title3-bgimg:url(../dist/img/qwjd.png);
$title4-bgimg:url(../dist/img/tjxw.png);
$dot:url(../dist/img/dot.png);
$video-icon:url(../dist/img/shipin.png);
$foot-bg:url(../dist/img/footer.png);
$page-header:url(../dist/img/page-header.png);